		/* $(document).on('load', '#calculate', function () {
		var vencimento = $("#vencimento").val();
		var dtvencimento = new Date(vencimento);
		var hoje = new Date();
		
		var diferenca = dtvencimento.getTime() - hoje.getTime();
		var total_dias = diferenca / (1000 * 60 * 60 * 24);
		 /* document.getElementById("#calculate").innerHTML = Math.round(total_dias);  
		 /*$("#result").innerHTML = Math.round(total_dias); 
		 /*$("#calculate").val(total_dias);
		 $("#calculate").html(output);
} */
		
		function showDays(firstDate,secondDate){           
            

            var hoje = new Date();
            var vencimento = $("#vencimento").val();
            var final = new Date(vencimento);
            var millisecondsPerDay = 1000 * 60 * 60 * 24;

            var millisBetween = final.getTime() - hoje.getTime();
            var days = millisBetween / millisecondsPerDay;

            $("#calculado").val(days);

        }