<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}"
>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<title>Relatório dos Lotes de Vacinas</title> 
</head>
<div layout:fragment="content">
<body>
<div class="alert alert-primary" th:if="${mensagem != null}"
			th:text="${mensagem}"></div>
<div th:if="${lista != null}">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Vacina</th>
				<th>Identificação do Lote</th>
				<th>Quantidade Restante</th>
				<th>Data de Recebimento</th>
				<th>Dias até o vencimento</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="lotevacina: ${lista}">
				<td th:text="${lotevacina.id}"></td>
				<td th:text="${lotevacina.vacina}"></td>
				<td th:text="${lotevacina.identificacaoLote}"></td>
				<td th:text="${lotevacina.quantidadeRestante}"></td>
				<td th:text="${#temporals.format(lotevacina.dataValidade, 'dd/MM/yyyy')}"></td>
				<td th:text="${lotevacina.diasVencimento}">	</td>			
								
			</tr>
		</tbody>
	</table>
</div>	
</body>
</div>
</html>